.boardNotes {
  min-height: 240px;
  width: 100%;
  border: solid 0.5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  z-index: 100;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtaskLoadingBar {
  width: 60%;
  height: 6px;
  appearance: none;
}

.subtaskLoadingBar::-webkit-progress-bar {
  background-color: #e0e0e0;
}

.subtaskLoadingBar::-webkit-progress-value {
  background-color: #4589FF;
}

.boardNotesContent {
  width: 90%;
  height: 90%;
}

.boardNotesCategory {
  height: 28px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.categoryText {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 6px;
  padding-inline: 16px;
  
}

.taskOverlayCategory p {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.boardTitle {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0 8px 0;
}

.boardDescription {
  font-size: 14px;
  color: rgb(179, 179, 179);
  font-weight: 400;
  margin: 8px 0 16px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#subtask-div {
  width: 100%;
  margin: 20px 0 16px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.subtaskList {
  font-size: 13px;
  color: black;
  font-weight: 500;
}


progress {
  width: 60%;
  height: 10px;
  border: 2px solide rgb(255, 255, 255);
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
}

progress::-webkit-progress-bar {
  background-color: rgb(69, 137, 255);
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: rgb(69, 137, 255);
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background-color: rgb(69, 137, 255);
  border-radius: 5px;
}


.boardNotesFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 24px 0 8px 0;
}

.boardNotesContacts {
  width: 69%;
  overflow-x: auto;
  display: flex;
  padding-left: 8px;
}

.pofileInitials {
  z-index: 1;
  margin-left: -9px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.boardNotesContacts span {
  border-radius: 50%;
  padding: 8px;
  color: white;
  font-size: 12px;
  border: 1px solid white;
}

.d {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  width: 40px;
  height: 40px;
  background-color: orange;
  margin-left: -8px;
  border: solid 0.5px black;
}

.boardNotesPrio {
  margin-right: 16px;
}