.overlay {
    width: 80vw;
    height: 90vh;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dropDownArrow {
    position: relative;
    right: 7%;
    top: 70.6%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.3s ease;
}

.turnArrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}