.addContactBtn {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 14px;
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 18px;
}

.contactsHeader {
    font-size: 40px;
}

.blueLine {
    width: 2px;
    height: 60px;
    background-color: #29ABE2;
}

.inputFields {
    width: 85%;
    padding-inline: 10px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#inputName {
    background: url('/assets/icons/person.svg') no-repeat right center;
    background-size: 20px;
    background-position: 95%;
}

#inputEmail {
    background: url('/assets/icons/mail.svg') no-repeat right center;
    background-size: 20px;
    background-position: 95%;
}

#inputPhone {
    background: url('/assets/icons/call.svg') no-repeat right center;
    background-size: 20px;
    background-position: 95%;
}

.cancelBtn {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #2A3647;
    border-radius: 10px;
    background: transparent;
    font-size: 18px;
}

.createBtn {
    width: 215px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #2A3647;
    border-radius: 10px;
    color: white;
    font-size: 19px;
}

#profilePic {
    height: 70px;
    fill: white;
    background-color: #D1D1D1;
    border-radius: 100%;
    padding: 10px;
}

.logo img {
    width: 50px;
}

.logo {
    width: 75%;
    display: flex;
    justify-content: start;
}

.overlayBigText {
    width: 100%;
    text-align: start;
    font-size: 50px;
    margin: 0;
}

.blueUnderline {
    font-size: 18px;
    position: relative;
    color: white;
}

.blueUnderline::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: -12px;
    height: 2px;
    width: 60px;
    background-color: #29ABE2;
    transform: translateX(10px);
}

.margin_bottom {
    margin-bottom: 30px;
    width: 75%;
}