#contactsContent {
    height: 80vh;        
    width: 85%;               
    padding-bottom: 10px;
    overflow-y: auto;           
    overflow-x: hidden;       
    display: block;           
}

.contactView {
    display: flex;
    width: 100%;
}

.contact {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    cursor: pointer;
}

.contact:hover {
    background-color: #2A3647;
    color: white;
}

.contact:hover .personName {
    color: white;
}

.contact:hover .contactInitials {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
}

.contactPhotoDiv {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactWithEmail {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactWithEmail p {
    width: 90%;
    text-align: start;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.emailAdress {
    color: rgb(71, 71, 255);
}

.contactInitials {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 50%;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}

.contactsInfoMobile {
    display: none;
}

.personName {
    color: #2A3647;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Gesamte Scrollbar */
::-webkit-scrollbar {
    width: 8px; 
}
::-webkit-scrollbar-thumb {
    background: #aaaaaa; 
    border-radius: 10px;
}

