.contacts {
    width: 30%;
    background-color: white;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
   height:calc(100vh - 100px);
}

.contactsInfo {
    width: 70%;
    height: 100%;
    /* transform: translateX(100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
} */
}

/* .contactsInfo.active {
    transform: translateX(0);
} */

.contactsHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 80px;
    gap: 30px;
    font-size:48px;
}
.contactsSideText {
    font-size:32px;
}

#contactInfoExtendet {
    width: 100%;
    height: 79.7%;
}

.phoneNumber {
    color: black;
}

.contactInfoHeader {
    font-weight: 200;
    margin-block: 50px;
    font-size: 20px;
}

h3 {
    font-weight: 600;
}

.contactInformation {
    width: 92%;
    margin-left: 8%;
}



.slide-in {
    animation: slide-in 1.0s forwards;
    transform: translateX(100%);
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
      transform: translateX(0);
    }
}

.slide-out {
    animation: slide-out 1.0s forwards;
}

@keyframes slide-out {
    from {
        opacity: 1;
      transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}