.contacts {
    width: 30%;
    background-color: white;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
   height:calc(100vh - 100px);
}

.contactsInfo {
    width: 70%; 
}

.contactsHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 80px;
    gap: 30px;
    font-size:48px;
}
.contactsSideText {
    font-size:32px;
}