.contacts {
    width: 30%;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#renderContacts {
    background-color: red;
    height: 80vh;
    width: 28vw;
}

.contactsInfo {
    width: 70%;
    height: 100vh;
}

.contactsHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 80px;
    gap: 30px;
}

.inputFieldDiv {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.closeButton {
    width: 100%;
    text-align: end;
    margin-bottom: 20px;
}

.buttons {
    width: 88%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.overlay {
    height: 50vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.photoSelectionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.addContactDiv {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logoDiv {
    height: 100%;
    width: 40%;
    background-color: #2A3647;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.d_none {
    display: none;
}