#addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.header {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.body {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerHeadline {
    font-size: 60px;

}

.task {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.theLine {
    width: 1px;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20%;
}

.right-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.inputFieldStandart {
    width: 80%;
    height: 44px;
    border: solid 0.5px rgb(141, 141, 141);
    border-radius: 10px;
    cursor: pointer;
}

.headerText {
    width: 80%;
    text-align: start;
}

.description {
    height: 100px;
    width: 80%;
    resize: both;
    padding: 10px;
    font-size: 16px;
    border: 0.5px solid rgb(141, 141, 141);
    border-radius: 10px;
    box-sizing: border-box;
  
    display: flex;
    align-items: flex-start;
    line-height: 1.5;
}

.containerDescriptionImg {
    position: relative;
    top: -3.5%;
    right: -37.4%;
}

.dropDownArrow {
    position: relative;
    top: -3.2%;
    right: -37%;
}

.dateCategory {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendar-icon {
    position: relative;
    top: -29%;
    right: -36%;
}

.prio-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons-div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.prioButton {
    width: 200px;
    height: 56px;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    gap: 8px;
}

.prioButton:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.redButton {
    background-color: rgb(255, 61, 0);
    border: solid 0.5px rgba(0, 0, 0, 0.1);
}

.orangeButton {
    background-color: rgb(255, 168, 0);
    border: solid 0.5px rgba(0, 0, 0, 0.1);
    fill: rebeccapurple;
}

.greenButton {
    background-color: rgb(122, 226, 41);
    border: solid 0.5px rgba(0, 0, 0, 0.1);
}

.whiteText {
    color: white !important;
}

.whiteIcon {
    fill: white;
}

.category {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#categorySelect {
    width: 80%;
    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    font-size: 16px;
    appearance: none;
}

.dropDowmArrowCategory {
    position: relative;
    top: -25%;
    right: -37%;
}

.subtasks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addSubtasksButton {
    position: relative;
    top: -30%;
    right: -37%;
}

.subtasksContent {
    width: 80%;
    height: 150px;
    margin-top: -17px;
}

.overlayButtons {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.deleteOrSaveBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    position: relative;
    top: -30%;
    right: -34%;
}

.smallLine {
    height: 30px;
    width: 0.5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.cursorPointer {
    cursor: pointer;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 10px;
    margin-top: -5px;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.03);
}

.contact {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#contactName {
    width: 75%;
    text-align: start;
}

#initialsOverlay {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}
