body {
    /* font-family: */
    background-color: #5155550a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .overlay {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .overlay .header {
    font-size: 14px;
    background-color: #5f73ff;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
  }

  .overlay .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #999;
    cursor: pointer;
  }

  .overlay h1 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .overlay p {
    margin: 0 0 10px 0;
    color: #666;
  }

  .overlay .info {
    margin: 20px 0;
  }

  .overlay .info div {
    margin-bottom: 10px;
  }

  .info .label {
    font-weight: bold;
  }

  .info .assigned {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .info .assigned .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #5f73ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 10px;
  }

  .subtasks {
    margin: 15px 0;
  }

  .subtasks .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .subtasks .task input {
    margin-right: 10px;
  }

  .overlay .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .actions button {
    background-color: transparent;
    border: none;
    color: #666;
    cursor: pointer;
    font-size: 14px;
  }

  .actions button {
    color: #007bff;
  }

  .actions button:hover {
    font-weight: 700;
  }
  #actionsIcons {
    height: 24px;
    width: 24px;
  }