body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

#button{
    position: absolute;
    top: 50%;
    left:70%;
}

#logo {
    position: absolute;
    top: 30%; 
    left: 43%;
    transform: translate(0, 0); /*starting position*/
    opacity: 1;
    transition: transform 2s ease-in-out, opacity 3s ease-in-out;
}

.animate {
    transform: translate(-100%, -100%) scale(0.5); /*finished position*/
    opacity: 1;
}