* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Validation */
.inputError {
  border: 1px solid #FF001F !important;
}

.errorText {
  color: #FF8190;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 100%;
}

.validationContainer {
  position: relative;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 88px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 348px;
  padding-bottom: 20px;
  align-items: center;
  font-family: 'Inter';
  background-color: white;
  z-index: 1;
  position: relative;
}

.project p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.picture p {
  gap: 10px;
}

.picture {
  display: flex;
  align-items: center;
  gap: 16px;
}

.help {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.help img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.help:hover {
  cursor: pointer;
  scale: 1.3;
}

.userIcon {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 3px solid #2A3647;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #29ABE2;
  padding: 10px;
}

.userIcon p {
  font-size: 20px;
  font-weight: 700;
}

.userIcon:hover {
  cursor: pointer;
  background-color: lightgray;
}

.project {
  display: flex;
  text-align: center;
}

#headerDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #2A3647;
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  gap: 8px;
  top: 100%;
  right: 2%;
  z-index: 9000;
}

#headerDropdown a {
  padding: 8px 16px;
  text-decoration: none;
  color: #CDCDCD;
  font-size: 16px;
  font-weight: 400;
}

#headerDropdown a:hover {
  background: #2A3D59 !important;
}

.dnone {
  display: none !important;
}

/* Sidebar */
#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 232px;
  height: 100svh;
  background: rgba(42, 54, 71, 1);
  padding-top: 64px;
  padding-bottom: 64px;
  z-index: 997;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

.sidebar_logo {
  width: 100.03px;
  height: 121.97px;
}

.menu {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.menu a {
  text-decoration: none;
}

.menuButton {
  font-size: 16px;
  width: 100%;
  height: 46px;
  padding: 8px 56px 8px 56px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuButton span {
  color: rgba(205, 205, 205, 1);
  line-height: 19.2px;
}

.menuButton:hover {
  background: rgb(42, 65, 99);
}

.menuIcon {
  height: 30px;
  width: 30px;
}

.active {
  background: rgba(9, 25, 49, 1);
  font-size: 16px;
  width: 100%;
  height: 46px;
  padding: 8px 56px 8px 56px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.active span {
  color: rgba(255, 255, 255, 1);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.links a {
  color: rgba(168, 168, 168, 1);
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  padding-left: 52px;
}

.links a:hover {
  color: rgba(41, 171, 226, 1);
}

.linkButton {
  display: flex;
  gap: 8px;
}

/* Footer */
.footerMenu {
  height: 80px;
  width: 100%;
  background: rgba(42, 54, 71, 1);
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 16px;
  font-family: "Inter";
}

.footerMenu a {
  text-decoration: none;
}

.active {
  background: rgba(9, 25, 49, 1);
}

.respMenuButton {
  height: 76px;
  width: 80px;
  display: flex;
  border-radius: 8px;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.respMenuButton span {
  color: rgba(205, 205, 205, 1);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.respMenuButton img {
  height: 22px;
  width: 22px;
}

.respActive {
  background: rgba(9, 25, 49, 1);
}

/* Scrollbar */
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url("../assets/img/scrollbar_button_up.svg");
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url("../assets/img/scrollbar_button_down.svg");
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #c0c0c0;
  height: 53px;
}