@media(max-width: 1050px) {

    header {
        min-height: 88px;
    }

    .contactList {
        min-width: 100%;
        max-width: 100%;
    }

    .contactContainer {
        width: 100%;
        overflow: hidden;
    }

    #addContactButton {
        display: none;
    }

    .overlayContainer {
        top: 0;
    }

    .inputContainer {
        height: 30px;
        width: 305px;
        padding: 0px 5px 1px 14px;
        display: flex;
        align-items: center;
    }

    .inputContainer img {
        width: 20px;
        height: 20px;
    }

    .background {
        position: relative;
        height: 396px;
        width: 352px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
    }

    .addContactForm {
        height: 396px;
        width: 352px;
    }

    .addContactFormContainer {
        width: 100%;
        position: relative;
        padding: 10px;
        top: 50%;
    }

    .profileImgAndForm {
        flex-direction: column;
    }

    .backgroundText h2 {
        font-size: 45px;
    }

    .backgroundLogo {
        display: none;
    }

    .backgroundText p {
        font-size: 18px;
    }

    .backgroundText {
        gap: 8px;
    }

    .defaultProfileImg {
        height: 120px;
        width: 120px;
        position: absolute;
        top: 228px;
    }

    .xButton svg {
        margin-bottom: 0;
        display: none;
    }

    .imgContainer {
        padding-bottom: 0;
        margin-top: -129px;
    }

    .addContactForm {
        padding-left: 0;
        padding: 12px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
    }

    .cancelButton {
        display: none;
    }

    .inputArea {
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }

    #editContactCardOverlay .inputArea {
        margin-top: 0;
    }

    #editContactCardOverlay .profileImgAndForm {
        gap: 0;
    }

    #editContactCardOverlay .imgContainer {
        margin-top: -55px;
    }

    .xButton {
        display: none;
    } 

    .profileImgAndForm {
        width: 100%;
    }

    .inputFields {
        width: 250px;
        font-size: 17px;
        padding-left: 8px;
    }

    .createContactButton {
        font-size: 20px;
    }

    .xButton svg {
        margin-bottom: 300px;
    }

    .inputFields:hover {
        cursor: pointer;
    }

    .contactHeading {
        flex-direction: column;
        align-items: start;
        height: auto;
        gap: 8px;
        width: 100%;
        margin-top: 0;
        position: relative;
    }

    .contactHeadingSpacer {
        height: 3px;
        width: 100px;
        order: 1;
    }

    .fab {
        display: block;
    }

    .arrowIcon {
        display: block;
    }

    .contactDetailsOptions {
        display: none;
    }

    .contactInformation {
        margin: 16px 0;
    }

    .contactDetailsName {
        margin: 0;
    }

    .overlayCloseButton {
        display: block !important;
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .overlayCloseButton:hover {
        cursor: pointer;
    }

    .contactCardOverlay {
        position: absolute;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
    }

    #addContactCardOverlay, .contactCardOverlay {
        display: flex;
        flex-direction: column;
        height: 595px;
        align-items: center;
    }

    .contactCardOverlay .contactDetailsIcon {
        z-index: 1;
        position: relative;
        top: -20px;
    }

    #contactCreateSuccess {
        left: 50svw;
        transform: translateX(-50%);
        bottom: -100%;
    }

    .slideInBottomSuccess {
        bottom: 25svh !important;
    }
}

@media(max-width: 650px) {

    .contactHeading,
    #contactContent {
        padding: 0;
    }

    .contactDetailsName {
        font-size: 36px;
    }

    .contactDetailsIcon {
        height: 80px;
        width: 80px;
    }

    .contactCardOverlay .contactDetailsIcon {
        height: 120px;
        width: 120px;
    }

    .contactCardOverlay .contactDetailsIcon p {
        font-size: 47px;
    }

    .contactDetailsIcon p {
        font-size: 27px;
    }

    .iconAndName {
        gap: 20px;
    }

    .contactList {
        padding-left: 16px;
        padding-right: 16px;
    }

    .fab {
        right: 16px;
        bottom: 96px;
    }
}

@media(max-width: 480px) {
    #addContactCardOverlay {
        display: flex;
        flex-direction: column;
        height: 595px;
        padding-left: 5%;
    }

    .background {
        position: relative;
        height: 396px;
        width: 288px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
    }

    .addContactForm {
        height: 396px;
        width: 288px;
    }

    .addContactFormContainer {
        left: 0;
    }

    .backgroundText h2 {
        width: fit-content;
        font-size: 33px;
    }

    .backgroundText p {
        font-size: 13px;
    }

    .inputContainer {
        height: 30px;
        padding: 1px 4px 2px 0px;
        width: 100%
    }

    .inputFields {
        width: 85%;
        font-size: 17px;
    }

    .xButton svg {
        display: none;
    }

    .defaultProfileImg {
        height: 120px;
        width: 120px;
        position: absolute;
        top: 230px;
    }

    .profileImgAndForm {
        flex-direction: column;
    }

    .inputArea {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .contactHeading h1 {
        font-size: 47px;
    }

    .contactHeading p {
        font-size: 20px;
    }

    .contactContainer {
        padding: 16px;
    }
}

.background {
    position: relative;
    background-color: #2f3e54;
    color: white;
    text-align: center;
}

.respContactOptions {
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    color: #2A3647;
    position: absolute;
    bottom: 0;
    right: 10px;
    transition: all 300ms ease-out;
}

.respContactOptionsSlideIn {
    transform: translateX(100vw);
}

.respContactOptions div {
    display: flex;
    gap: 8px;
    padding: 8px;
    align-items: center;
    width: 98px;
}

.respContactOptions div:hover {
    cursor: pointer;
}

@media(min-width: 1050px) {
    .overlayCloseButton {
        display: none;
    }
}