@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.ttf") format("ttf"),
    url("./fonts/Lato/Lato-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

.blueBtn {
  background-color: #2a3647;
  border-radius: 6px;
  color: white;
  padding: 6px;
  text-align: center;
  padding-inline: 16px;
  cursor: pointer;
}

.blueBtn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 10px 0px #000000;
  transition: 0.2s ease;
}

.blueBtn:active {
  background-color: #2a36474a;
  box-shadow: 0px 4px 10px 0px #000000;
  transition: 0.2s ease;
}

.blacktext {
  color: #000000;
  cursor: pointer;
}

h1 {
  font-size: 50px;
  position: relative;
  display: inline-block;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 4px;
  width: 80%;
  background-color: #29abe2;
  margin: 0 auto;
}

.headerLogo {
  height: 120px;
}

.outlinedText {
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  padding-inline: 16px;
  cursor: pointer;
}

.outlinedText:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 10px 0px #000000;
  transition: 0.2s ease;
  border: 1px solid #29abe2;
}

.outlinedText:active {
  background-color: #2a36474a;
  box-shadow: 0px 4px 10px 0px #000000;
  transition: 0.2s ease;
}

footer p {
  opacity: 0.45;
}

label span {
  opacity: 0.4;
}

.backArrow {
  height: 25px;
  rotate: 180deg;
  position: relative;
  top: 30px;
  left: -200px;
  cursor: pointer;
}
