.splashScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F6F7F8;
    z-index: 10;
    transition: all 1s ease-in-out;
}

.splashScreen img {
    width: 30%;
    transition: all 1s ease-in-out;
}

.splashScreen.shrink {
    width: 8.4vw;
    height: auto;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: transparent;
}

.splashScreen.shrink img {
    width: 100%;
}