.rightSide {
  height: 100%;
  width: 84%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color:white;
  z-index: 1;
}

h4 {
  margin-left: 120px;
  font-size: 20px;
}

.mobile-logo {
  display: none;
}

.header-div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.question-icon {
  width: 40px;
}

.account {
  width: 60px;
  height: 60px;
  border: solid 3px black;
  border-radius: 40px;
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.account p {
  color: rgb(41, 171, 226);
  font-size: 24px;
  font-weight: 600;
}

.userDropDown {
  width:140px;
  height:160px;
  background-color:rgb(42, 54, 71);
  position:absolute;
  top:100px;
  right:40px;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding:12px;
}
.userButton {
  color:rgb(154, 160, 169);
  text-decoration: none;
  width:100%;
  display:flex;
  justify-content:center;
}
.userButton:hover {
  background-color:rgb(42, 61, 89);
}

#userDropDown {
  display: none; /* Initially hidden */
}

#userDropDown.active {
  display: flex; /* Show when active */
}