nav{
  height:100vh;
  width:16%;
  position:fixed;
  left:0;
  display:flex;
  flex-direction:column;
  align-items:center; 
  background-color:rgb(42, 54, 71);
}

.logo {
  width:140px;
  margin-top:60px;
}
.menu{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  width:100%;
  margin-top:100px;
  margin-bottom:60px;
}
.menu-buttons {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summery-button, .add-tast-button, .board-button, .contacts-button {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:start;
  margin-left:50%;
  width:100%;
  gap:8px;
}
.nav-icon{
  width:32px;
  height:32px;
}
p{
  font-size:20px;
  color:white;
}


.nav-links {
  display:flex;
  flex-direction:column;
  gap:20px;
}
.privacy-policy{
  color:rgb(113, 120, 129);
  text-decoration: none;
  font-size:20px;
}
.legal-notice{
  color:rgb(113, 120, 129);
  text-decoration: none;
  font-size:20px;
}


.privacy-policy:hover{
color:rgb(41, 171, 226);
font-weight: bold;
}
.legal-notice:hover{
  color:rgb(41, 171, 226);
font-weight: bold;
}

