@media (max-width: 1450px) {
  .logo {
    width: 120px;
  }

  .nav-icon {
    width: 24px;
    height: 24px;
  }
  .privacy-policy {
    font-size: 16px;
  }
  .legal-notice {
    font-size: 16px;
  }
}



@media (max-width: 1300px) {
  .logo {
    width: 100px;
  }
  p {
    text-wrap: nowrap;
  }
}



@media (max-width: 1250px) {
  .logo {
    width: 90px;
  }
  .summery-button p,
  .add-tast-button p,
  .board-button p,
  .contacts-button p {
  font-size:20px;
  }
  .summery-button,
  .add-tast-button,
  .board-button,
  .contacts-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left:20%;
    width: 80%;
  }
}



@media (max-width: 1150px) {
  .logo {
    width: 80px;
  }

  
  .nav-icon {
    width: 20px;
    height: 20px;
  }
  .privacy-policy {
    font-size: 14px;
  }
  .legal-notice {
    font-size: 14px;
  }
  .summery-button p,
  .add-tast-button p,
  .board-button p,
  .contacts-button p {
  font-size:18px;
  }
  .summery-button,
.add-tast-button,
.board-button,
.contacts-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left:20%;
  width: 80%;
}
}






@media (max-width: 950px) {
  .summery-button,
.add-tast-button,
.board-button,
.contacts-button {
  padding-left:15%;
  width: 85%;
}
.summery-button p,
.add-tast-button p,
.board-button p,
.contacts-button p {
font-size:16px;
}
}



@media (max-width: 850px) {
  .logo {
    width: 68px;
    margin-top: 68px;
  }
  .summery-button p,
.add-tast-button p,
.board-button p,
.contacts-button p {
font-size:14px;
}
}



/* Mobile ab 768px */

@media (max-width: 768px) {
  .leftSide {
    width: 100%;
    height: 10%;
    position:fixed;
  }
  nav {
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgb(42, 54, 71);
    margin: 0;
    padding-top:6px;
    padding-bottom:6px;
    
  }
  .join-logo {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .summery-button,
  .add-tast-button,
  .board-button,
  .contacts-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72%;
    width: 12%;
    margin: 0%;

    border-radius: 20px;
    padding: 8px;
  }
  .nav-icon {
    width: 28px;
    height:auto;
    margin: 0;
  }

  .nav-links {
    display: none;
  }
}

@media (max-width: 700px) {
  .nav-icon {
    width: 28px;

  }

}
@media (max-width: 620px) {
  .nav-icon {
    width: 28px;

  }

}
@media (max-width: 580px) {
  .summery-button, .add-tast-button, .board-button, .contacts-button {
    height:64%;
    padding:12px;
  }
  .nav-icon {
    width: 28px;
  }

}

@media(max-width:480px){
  .summery-button, .add-tast-button, .board-button, .contacts-button {
    height:58%;
    padding:16px;
  }
  .nav-icon {
    width: 28px;

  }

  }
  @media(max-width:420px){
    .summery-button, .add-tast-button, .board-button, .contacts-button {
      height:54%;
      padding:18px;
    }
    .nav-icon {
      width: 28px;
  
    }
 
    }
    @media(max-width:360px){
      .summery-button, .add-tast-button, .board-button, .contacts-button {
        height:58%;
        padding:16px;
      }
      .nav-icon {
        width: 26px;
    
      }
    
      }